@font-face {
    font-family: "Orbitron";
    src: url("Orbitron/Orbitron-VariableFont_wght.ttf") format('truetype');
}
@font-face {
    font-family: "Oswald";
    src: url("Oswald/Oswald-VariableFont_wght.ttf") format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    transition: background-image 1s ease;
}
#home-main {
    max-width: 1000px;
    margin: 0 auto;
}
h1, h2 {
    font-family: "Orbitron", "Oswald", Arial;
}
p, a, label, #background-select, #search-box {
    font-family: "Oswald", "Orbitron", Arial;
}
h2 {
    margin-bottom: 15px;
}
nav {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}
.links {
    text-decoration: none;
    color: white;
    padding: 25px;
    font-size: 1.15em;
}
.links:hover {
    background-color: #7FDEFF;
    color: black;
}
.logo {
    width: 75px;
}
#h1-img {
    width: 100px;
}
#search-img {
    width: 40px;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
}
.lore-img {
    width: 50%;
    margin-bottom: 15px;
}
.social-icons {
    width: 50px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
}
#jedi, #sith {
    width: 100%;
    border-radius: 15px 15px 0 0;
}
#home-h1 {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
#welcome-div {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}
#background-select {
    margin-top: 15px;
}
#search {
    margin-top: 25px;
    display: flex;
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
}
#search-box {
    width: 100%;
    border: none;
    border-radius: 15px;
    margin-right: 2px;
}
#search-button {
    border: none;
    background-color: white;
    border-radius: 15px;
}
.lore-card {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    margin-top: 25px;
}
#duel-h1 {
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 25px;
}
#duel-h1 h1 {
    margin-top: 0px;
}
#character-cards {
    display: flex;
    justify-content: space-between;
}
#sith-card {
    background-color: #DE1A1A;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 30%;
    margin: 50px;
    border-radius: 15px;
}
#jedi-card {
    background-color: #7FDEFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 50px;
    border-radius: 15px;
}
#sith-stats, #jedi-stats {
    margin-bottom: 15px;
    margin-top: 5px;
    text-align: center;
}
#force-heal, #force-push, #jedi-attack, #force-lightning, #force-choke, #sith-attack {
    width: 75%;
    font-family: "Oswald", "Orbitron", Arial;
    background-color: white;
    margin-bottom: 5px;
}
#force-heal:hover, #force-push:hover, #jedi-attack:hover, #force-lightning:hover, #force-choke:hover, #sith-attack:hover {
    background-color: lightgrey;
}
.bold {
    font-weight: bold;
}
footer {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-top: 25px;
    padding-top: 15px;
    padding-bottom: 27px;
}
#footer-logo {
    display: flex;
    align-items: center;
}
#copyright {
    margin-left: 30px;
}
#socials a {
    text-decoration: none;
}

@media screen and (min-width: 670px) {
    footer {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 1px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 0px;
    }
    .social-icons {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .lore-card {
        flex-direction: row;
    }
    #description {
        width: 50%;
        margin-left: 15px;
    }
    .lore-img {
        margin-bottom: 0px;
    }
    #jedi-card, #sith-card {
        width: 20%;
        margin: 100px;
    }
    #force-heal, #force-push, #jedi-attack, #force-lightning, #force-choke, #sith-attack {
        width: 50%;
    }
}