main {
    max-width: 1000px;
    margin: 0 auto;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.title h1 {
    font-size: 3em;
}
#title-img {
    width: 125px;
}
.search {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 50px;
}
#search-box {
    flex: 1 1 200px;
    border: none;
    border-radius: 7px;
}
#search-button {
    background-color: white;
    border: none;
    border-left: 2px solid black;
}
#search-img {
    width: 40px;
    border-radius: 7px;
}
hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    height: 2px;
    background-color: #ccc;
}
.recipe {
    border: 2px solid black;
    display: flex;
    padding: 15px;
    border-radius: 7px;
    flex-direction: column;
}
#description {
    display: none;
}
footer img {
    width: 50px;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social {
    padding: 25px;
}