@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
body {
    max-width: 1000px;
    margin: 0 auto
}
.title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;
}
.title h1 {
    font-size: 6em;
    font-family: "Amatic SC", Arial;
    margin: 0px;
}
#title-img {
    width: 125px;
}
.search {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 50px;
}
#search-box {
    flex: 1 1 200px;
    border: none;
    font-size: 1.25em;
    font-family: Arial;
    border-radius: 7px;
}
#search-button {
    background-color: white;
    border: none;
    border-left: 2px solid black;
}
#search-img {
    width: 40px;
    border-radius: 7px;
}
hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    height: 2px;
    background-color: #ccc;
}
h2 {
    font-family: "Amatic SC", Arial;
    color: dodgerblue;
    font-size: 3em;
    margin-bottom: 0;
}
#recipe-type {
    font-family: arial;
    padding: 5px;
    font-size: 1.15em;
}
.recipe {
    border: 2px solid black;
    display: flex;
    padding: 15px;
    border-radius: 7px;
    flex-direction: column;
}
#description {
    display: none;
}
footer img {
    width: 50px;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.social {
    padding-bottom: 25px;
}

@media screen and (min-width: 620px) {
    #description {
        display: block;
        font-family: arial;
        font-weight: bold;
    }
    .recipe {
        flex-direction: row;
    }
    .recipe-info {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
    }
    #food-img {
        max-width: 50%;
    }
    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .social {
        order: 1;
        padding: 0px;
    }
}